body {
  font-family: 'Roboto', sans-serif;
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
  background-color: #f3f4f6;
  background: url("https://files.catbox.moe/pw9ncv.webp");
  background-size: cover;
  background-position: center;

}
title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ff00ee;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 50px rgba(255, 113, 250, 0.8);

}
.TinderMenu{
  padding: 10px;
  font-family: Arial, sans-serif;
}
.Perfil-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.Perfil-Card {
  color: white;
  border: 5px solid;
  animation: border-color 2s infinite, background-color 2s infinite, box-shadow 2s infinite;
  background-size: cover;
  background-position: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.Perfil-Card:hover {
  transform: scale(1.05);
}

.Filtrar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff81f7;
  box-shadow: 0 0 50px rgba(255, 113, 250, 0.8);
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  height: 100px;
  width: 1400px;
  .Formulario1{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 1rem;
    border-radius: 1rem;
    height: 100px;
    width: 900px;
    background-color: #96005f;
    box-shadow: 0 0 50px rgba(255, 0, 251, 0.8);
  }
  .Formulario2{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 1rem;
    border-radius: 1rem;
    height: 100px;
    width: 900px;
    background-color: #001496;
    box-shadow: 0 0 50px rgba(0, 17, 255, 0.8);
  }

}

.layout {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
  .header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #96005f;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 50px rgba(255, 0, 251, 0.8);
    a{
      color: white;
      text-decoration: none;
      margin: 0 1rem;
    }
  }
  .header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #001496;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 50px rgba(0, 17, 255, 0.8);
    a{
      color: white;
      text-decoration: none;
      margin: 0 1rem;
    }
  }
  .header3 {
    align-items: center;
    width: 40%;
    background-color: #960000;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 50px rgba(255, 0, 0, 0.8);
    a{
      color: white;
      text-decoration: none;
      margin: 0 1rem;
    }
  }
}
.Delete{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #960000;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 50px rgba(255, 0, 0, 0.8);
}

.Crear {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('path/to/your/image.jpg');
  background-size: cover;
  background-position: center;
}

.Crear input[type="text"], .Login input[type="password"] {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
}

.Crear button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #96005f;
  color: white;
  cursor: pointer;
}

.Crear button:hover {
  background-color: #ff00fb;
}


@keyframes border-color {
  0% {
    border-color: #ff00ee;
  }
  25% {
    border-color: #96005f;
  }
  50% {
    border-color: #001496;
  }
  75% {
    border-color: #96005f;
  }
  100% {
    border-color: #ff00ee;
  }
}

@keyframes background-color {
  0% {
    background-color: #ff00ee;
  }
  25% {
    background-color: #96005f;
  }
  50% {
    background-color: #001496;
  }
  75% {
    background-color: #96005f;
  }
  100% {
    background-color: #ff00ee;
  }
}

@keyframes box-shadow {
  0% {
    box-shadow: 0 0 50px rgba(255, 113, 250, 0.8);
  }
  25% {
    box-shadow: 0 0 50px rgba(255, 0, 251, 0.8);
  }
  50% {
    box-shadow: 0 0 50px rgba(0, 17, 255, 0.8);
  }
  75% {
    box-shadow: 0 0 50px rgba(255, 0, 251, 0.8);
  }
  100% {
    box-shadow: 0 0 50px rgba(255, 113, 250, 0.8);
  }
}